@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins",sans-serif;
}

body {
    height: 100vh;
    background: #e1edf9;
}

.wrapper {
    max-width: 450px;
    width: 100%;
    margin: auto auto 5rem auto;
    padding: 10px;
}

.form-container {
    background: #fff;
    padding: 30px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0, 15);
    border-radius: 2rem;
    border: 1px solid black;
}

.heading {
    background: #222222;
    margin: -30px;
    text-align: center;
    color: #fff;
    padding: 10px;
    margin-bottom: 35px;
    border-radius: 2rem 2rem 0 0;
}

.form-wrap.check-box.off{
    display: none;
}

.form-item {
    margin-bottom: 25px;
}

.fullname {
    display: flex;
}

.fullname .form-item{
    width: 50%;
}

.fullname .form-item:first-child{
    margin-right: 4%;
}

.form-item input[type="text"],
.form-item input[type="password"]{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dadce0;
    border-radius: 3px;
}

.form-item input[type="text"]:focus,
.form-item input[type="password"]:focus{
    border-color: #640c0c;
}
.form-check{
    display: flex;
    align-items: baseline;
}
.form-check input[type="checkbox"]{
    width: auto;
    margin-left: 2rem;
    padding-top: 1rem;
}

.btn input[type="button"]{
    background: #222222;
    color: white;
    border: 1px solid #222222;
    padding: 0.75rem;
    border-radius: 5rem;
    width: 100%;
    cursor: pointer;
}


